@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Playfair+Display:400,900');
@import "var";

body{
  background-color: $bgcolor;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

*{
  box-sizing: border-box;
  user-select: none;
}

header{
  display: flex;
  flex-wrap: wrap;
  height: 100px;

  h1{
    width: 50%;
    flex-grow:1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding-left: 100px;
    font-family: "Playfair Display", sans-serif;
    font-size: 35pt;
    font-weight: 900;
  }

  nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: $lightclay;
    padding: 0 5vw;

    div {
      padding: 0 10px;
      text-decoration: none;

      a{
        text-decoration: none;
        font-size: 16pt;
        color: #adadad;

        &.active{
          color: #000000;
          display: block;
          position: relative;

          &::after{
            content: ' ';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background-color: #000000;
          }
        }
      }
    }
  }
}

div.content-wrapper{
  display: flex;

  aside{
    position: relative;

    nav{
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      div{
        transform: rotate(-90deg);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        a{
          text-decoration: none;
          font-size: 16pt;
          color: #adadad;
          transition: color 0.2s linear;

          &:hover{
            color: #000000;
          }
        }
      }
    }
  }

  main{
    margin-bottom: 100px;

    article{
      display: flex;

      div.img-wrapper{
        text-align: right;
      }

      section:nth-of-type(2){
        background-color: $lightclay;
        margin-bottom: 50px;
        position: relative;

        h2{
          margin-left: -100px;
          margin-top: 10vh;
          font-family: "Playfair Display", sans-serif;
          font-size: 55pt;
        }

        div.content{

          padding: 5vw;

          h3{
            font-size: 24pt;
            font-weight: 600;
          }

          p{
            font-size: 18pt;
          }

          a.next{
            font-size: 40px;
            line-height: 40px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            position: absolute;
            bottom: -50px;
            right: 5vw;
            width: 85px;
            height: 85px;
            background-color: black;
          }
        }
      }

      div.img-wrapper{
        width: 50vw;
      }
    }
  }
}